<configuration scan="true" scanPeriod="1 seconds" debug="false">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <logger name="modular" level="INFO"/>
  <logger name="azondi" level="INFO"/>
  <logger name="azondi.webapp" level="DEBUG"/>
  <logger name="cylon.oauth.impl" level="DEBUG"/>
  <logger name="cylon" level="DEBUG"/>
  <logger name="cylon.impl.authentication" level="DEBUG"/>
  <logger name="modular.bootstrap" level="DEBUG"/>
  <logger name="azondi.cassandra" level="INFO"/>
  <logger name="azondi.cassandra" level="DEBUG"/>
  <logger name="azondi.stream-summary" level="DEBUG"/>
  <logger name="azondi.api" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
