
    	<div class="wrapper wrapper-hero wrapper-hero-login">

    		<canvas id="demo-canvas"></canvas>

    		<div class="container">
    			<div class="row">
    				<div class="col-md-12 center-block">
    					<h1 class="logo-text">OpenSensors.io</h1>
    					<img class="logo-hero" src="imgs/logo-hero.png">

    					<form role="form">
    						<div class="form-group">

    							<!-- <label for="userEmail">User ID</label> -->
    							<input type="email" class="form-control" id="userEmail" placeholder="Email">


    							<!-- <label for="userName">User ID</label> -->
    							<input type="password" class="form-control" id="userPassword" placeholder="Password">
    						</div>
    						<button type="button" class="btn btn-primary center-block">Login</button>
    					</form>
    				</div>
    			</div>
    		</div>
    	</div>

