<div class="wrapper wrapper-hero wrapper-hero-login">

  <canvas id="demo-canvas"></canvas>

  <div class="container">
    <div class="row">
      <div class="col-md-12 center-block">
    	<h1 class="logo-text">OpenSensors.io</h1>
    	<img class="logo-hero" src="imgs/logo-hero.png">

    	<form role="form" method="{{form.method}}" action="{{form.action}}">
    	  <div class="form-group">

            {{#form.fields}}
    	    <!-- <label for="userEmail">User ID</label> -->
    	    <input name="{{name}}" type="{{type}}" class="form-control" placeholder="{{placeholder}}">

            {{/form.fields}}
    	  </div>
    	  <button type="submit" class="btn btn-primary center-block">Login</button>
    	</form>
      </div>
    </div>
  </div>
</div>
