body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.428571429;
  color: #2f575d;
  background-color: #white;
  margin-top: auto;
  margin-bottom: auto;
}

.jumbotron {background-color: #28363D;
	    border-color: #141b1e;
	    overflow: visible;
	    height: 200px;
	    width: 100%;
	    position: relative;
	    top:0px;}

.jumbotron h1 {text-align: center;
              font-size: 60px;
              color: white;
              font-weight:normal;
              font-weight:100;
              text-shadow:0 0 50px #0af, 0 0 3px #fff;}

#header {width:auto;}

#logoarea {height:100px;}