@font-face {
    font-family: Cardo104s;
    src: url(Cardo104s.ttf);
}

body {
   font-size: 20px;  
  line-height: 1.428571429;
  background-color: #white;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Cardo104s;
}

.jumbotron {background-color: #2790B0;
	    border-color: #141b1e;
	    overflow: visible;
	    height: 450px;
	    width: 100%;
	    position: relative;
	    top:0px;
	    padding-top: 100px;
	    padding-bottom: 80px;
	   }

#header {background-color: #2790B0;
	 height: 450px;
	 color: white;}

#logoarea {height:100px;}

.jumbotron h1 {text-align: center;
               color: white;
	       font-size: 50px;
	       font-weight: 100;
	      }

.jumbotron * {color: white;
	       text-align: center;}

.navbar {margin-bottom: 0px;}

#home-logo:hover {
    opacity: 0.4;
    filter: alpha(opacity=100); /* For IE8 and earlier */
} 
.container-narrow {margin-left: 50px;
		   margin-right: 50px;}

#sidebar{width:20px;}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
   
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
}

.sbar {background-color: white;
      border-color: white;
      } 
#wrap {margin-bottom: 100px;
       margin-left: 20px;
       margin-right: 20px;
       }

.tbl {width: 80%;}
.tbl > thead {background-color: #F6F6F6;
    border-bottom: 1px solid #DDDDDD;
    color: #555555;
    line-height: 50px;}

.side-menu-item li {color: #777777;
		   margin-left: 30px
		  padding:20px;
		   }

.side-menu-item {padding: 10px;}
.side-menu-item a {color: #777777;
		   margin-left: 30px;}

.navbar li:hover {
    background-color:#00CC00;}

#your-api-keys {border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 20px;
		padding-left: 20px;
		text-align: center;
	       margin: 20px;}

#your-websocket-session {border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 20px;
		padding-left: 20px;
		text-align: center;
	       margin: 20px;}

#sign-in-form {width:30%;
	       margin: 0 auto;
	       margin-top: 50px;
	       border: 1px solid rgba(0, 0, 0, 0.1);
	       border-radius: 25px;
	       height: 250px;
	       }

#beta-signup {width:15%;
	      margin: 0 auto;
	     padding: 20px;
	     }

#sign-in-form * {margin: 10px;}
#sign-in-form input {width: 80%;}

#sign-in-form h2 {padding: 10px; }

#user-page {margin: 50px}

#index {margin: 0 auto;
       text-align: center;
       }

#index * {padding: 15px; }
#features-index .row #left {border-right: 1px solid #aaa;}


#pword-reset {width:30%;
	      padding: 20px;
	      margin: 0 auto;
	      border: 1px solid rgba(0, 0, 0, 0.1);
	      border-radius: 25px;
	      height: 350px;
	      overflow: hidden;
	      white-space: nowrap; }

#passwordVerif1 {display: inline-block; }
#passwordVerif2 {display: inline-block; }
.footer-list {list-style-type:none}
.footer-list > li {display:inline;
		   padding: 10px 10px 10px 10px;}

#footer {
   background-color: #F5F5F5;
   bottom: 0;
   height: 60px;

  width: 100%;
}
