@font-face {
  font-family: Cardo104s;
  src: url(Cardo104s.ttf);
}

body {
  font-size: 20px;
  line-height: 1.428571429;
  background-color: #e8e8e8;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Helvetica;
  min-height: 600px;
}

h1 {font-weight: bold;}
h2 {font-weight: bold;}
h3 {font-weight: bold;}


.topic {
background-color: white;
min-width: 240px;
max-width: 240px;
min-height: 240px;
max-height: 240px;
float: left;
margin-right: 20px;
padding: 10px;
}

.topic h1 {
font-size: 20px;
margin: 0;
padding: 0;
}

.topic p {
font-size: 12px;
}

.topic .tag {
  display: inline;
  background-color: #aaa;
  color: white;
  font-size: 12px;
  margin-right: 4px;
  padding: 4px;
}